<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name ="WinformHello.HelloService" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Hello"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WCFServiceDemo.IHelloService" >
          
        </endpoint>
        
      </service>
    </services>
  </system.serviceModel>
</configuration>