<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="OracleManagedDataAccess Data Provider" 
           invariant="Oracle.ManagedDataAccess.Client" 
           description=".Net Framework Provider for OracleManagedDataAccess"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory,Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories> 
  </system.data>
  <appSettings>
    <add key ="OraConnString" value="Data Source=(DESCRIPTION = (ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.245.2)(PORT = 1521)) )(CONNECT_DATA =(SERVICE_NAME = ccmdb)));User ID=sj;Password=sj"  />
  </appSettings>
</configuration>