#div1{
    width: 500px;
    height: 200px;
    border: 3px solid Red;
    background: blue;
}

#div2{
    width: 400px;
    height: 150px;
    border: 3px solid Red;
    margin-left: 10px;
    margin-top:10px ;
    background: aqua;
}

p{
    width: 300px;
    height: 100px;
    border: 3px solid Red;
    margin-left: 10px;
    margin-top:10px ;
    background: lime;
}